---
import { Image } from "astro:assets";
import OnormalUtanRiktning from "../assets/img/OnormalUtanRiktning-top4.jpg";
import { getFoodMenu, UrlForImage } from "../lib/api";
const foodMenuList = getFoodMenu();
---

<div id="menu" class="flex justify-center mx-auto  bg-black">
    <div class="w-full mx-auto max-w-screen-md text-white">
        <div>
            <div class="">
                <div class="relative h-auto">
                    <Image
                        src={OnormalUtanRiktning}
                        alt="bakgrundsbild"
                        class="w-auto"
                    />
                </div>
            </div>
            <div class="grid gap-16 grid-cols-1 px-8 sd:px-16 mt-2 ">
            {
                foodMenuList.map((post: any) => (
                    <>
       <article id={post.anchor} class="bg-white rounded-lg shadow-xl overflow-hidden">
          <a class="block transition" title={post.title} href={post.pageUrl}>
            <div class="h-80 bg-cover bg-center rounded-t-lg hover:scale-105" style={{ backgroundImage: `url(${post.image})` }}></div>
            <div class="p-4">
              <div class="text-xl font-semibold text-gray-900 overflow-hidden mb-4">
                {post.title}
              </div>
              <div class="text-xl  text-gray-900">{post.shortDescription}</div>
              <div>
                <a 
                  title={post.title}
                  href={post.pageUrl}
                  class="inline-flex items-center px-4 py-2 border text-white border-transparent text-lg font-medium rounded-full shadow-sm italic hover:bg-red-500 hover:text-white bg-[#dc2626] mt-8">
                  Läs mer...
                </a>
              </div>
            </div>
          </a>
        </article>
                    </>
                ))
            } 
            </div>
        </div>
    </div>
</div>
